/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

  --Header-color: #DB00FF;
  --Header-shadow: #FF0070;
  
  --button-border: solid 1px #FF0070;
  --button-border-hover: solid 1px rgba(255, 0, 112, 0.4);
  --buttons-color: #FF0070;
  
  --decorative-border: solid 1px #FF0070;
  --decorative-text-color: #FF0070;
  --decorative-bg-color: #FF0070;
  
  --title-decor-bg-color: #FF0070;
  --text-color: #F1B2CE;
  --title-name-color: #FF0070;
  --text-title-color: #000028;
  --page-bg: url("../images/cover-image-dark.png"), #000028;
  --background-color: #000028;
}