@media screen and (width >= 1024px) {

  /* header, buttons */

  .header {
    margin-block-end: 60px;
  }

  .header__theme-menu-list {
    min-width: 70px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    gap: 10px;
    margin-block-start: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .section__header {
    padding-block-end: 134px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 299px;
    align-items: center;
  }

  .title-text {
    font-size: var(--text-font-size);
    max-width: 491px;
    max-height: 71px;
    margin-block-start: 114px;
    margin-inline-end: 20px;
    justify-content: end;
    align-items: end;
    place-self: end;
  }

  .header .decorative-element:nth-child(1) {
    top: 0;
    right: 20px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .header .decorative-element:nth-child(2) {
    bottom: 20px;
    left: 20px;
    border-right: transparent;
    border-top: transparent;
  }

  /* text sections */

  .section__text-field {
    inline-size: calc(100% - 40px);
    display: grid;
    gap: var(--elements-gap);
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    margin-inline: 20px;
    margin-block-end: 80px;
  }

  .section__text-field-block {
    grid-template-columns: 1fr;
  }

  .section__article {
    display: grid;
    gap: var(--elements-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section__text-title-list:first-child {
    margin-block-start: 20px;
  }

  /* picture sections */

  .section__gallery {
    inline-size: calc(100% - 40px);
    margin-inline: 20px;
    margin-block-end: 60px;
    gap: var(--elements-gap);
  }

  .section__title-gallery {
    margin-block-end: 20px;
  }

  .section__gallery-pictures {
    gap: var(--elements-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .gallery-picture-sunset {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .gallery-picture-icecream {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery-picture-tape {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  .gallery-picture-books {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .gallery-picture-street {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  /* footer */

  .footer-title {
    margin: 0;
    padding-inline: 277px;
    padding-block: 319px; 
  }

  .footer .decorative-element:nth-child(1) {
    top: 20px;
    right: 20px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .footer .decorative-element:nth-child(2) {
    bottom: 20px;
    left: 20px;
    border-right: transparent;
    border-top: transparent;
  }
}