/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {

  --Header-color: #FFC2E6;
  --Header-shadow: #FF8DCB;
  
  --button-border: solid 1px #353430;
  --button-border-hover: solid 1px rgba(53, 52, 48, 0.4);
  --buttons-color: #353430;
  
  --decorative-border: solid 1px #353430;
  --decorative-text-color: transparent;
  --decorative-bg-color: transparent;
  
  --title-decor-bg-color: #FF8DCB;
  --text-color: #353430;
  --text-title-color: #353430;
  --title-name-color: #353430;
  --page-bg: url("../images/cover-image-light.png"), #FFF1F7;
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --Header-color: #FFC2E6;
    --Header-shadow: #FF8DCB;
  
    --button-border: solid 1px #353430;
    --button-border-hover: solid 1px rgba(53, 52, 48, 0.4);
    --buttons-color: #353430;
  
    --decorative-border: solid 1px #353430;
    --decorative-text-color: transparent;
    --decorative-bg-color: transparent;
  
    --title-decor-bg-color: #FF8DCB;
    --text-color: #353430;
    --text-title-color: #353430;
    --title-name-color: #353430;
    --page-bg: url("../images/cover-image-light.png"), #FFF1F7;
    --background-color: #fff1f7;
  }
}