@media screen and (width < 768px) and (width >= 375px) { 

  /* header, buttons */

  .header {
    margin-block-end: 40px;
  }

  .header__theme-menu-list {
    min-width: 230px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    margin-block-start: 192px;
    margin-inline-end: 10px;
    align-items: center;
    text-align: end;
    justify-content: end;
  }

  .section__header {
    padding-block-end: 66px;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 65px;
    align-items: center;
  }

  .title-text {
    font-size: var(--text-font-size);
    max-width: 100%;
    margin-block-start: 55px;
    margin-inline: 10px;
    justify-content: center;
    align-items: center;
    place-self: center;
  }

  .decorative-element:nth-child(1) {
    top: -170px;
    right: 10px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .decorative-element:nth-child(2) {
    bottom: 10px;
    left: 10px;
    border-right: transparent;
    border-top: transparent;
  }

  /* text sections */

  .section__text-field {
    inline-size: calc(100% - 20px);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .section__text-field .section__title-name-tablet {
    grid-template-columns: 100% 1fr;
  }

  .section__article {
    display: grid;
    gap: var(--elements-gap);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .section__text-title-list:first-child {
    margin-block-start: 20px;
  }

  /* picture sections */

  .section__gallery {
    inline-size: calc(100% - 20px);
    margin-inline: 10px;
    margin-block-end: 40px;
    gap: var(--elements-gap);
  }

  .section__title-gallery {
    margin-block-end: 20px;
  }

  .section__gallery-pictures {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  /* footer */

  .footer-title {
    margin: 0;
    padding-inline: 13px;
    padding-block: 288px;
  }

  .footer .decorative-element:nth-child(1) {
    top: 20px;
    right: 20px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .footer .decorative-element:nth-child(2) {
    bottom: 20px;
    left: 20px;
    border-right: transparent;
    border-top: transparent;
  }
}