@media (375px <= width < 768px) { 

  /* header, buttons */

  .header {
    margin-block-end: 40px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: var(--decorative-border);
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
    border-right: transparent;
    border-top: transparent;
  }

  .decorated-zone .decorated-zone-rec::after {
    position: absolute;
    content: "rec";
    top: 10px;
    right: 48px;
    text-transform: uppercase;
    font-size: var(--text-font-size);
    line-height: 25px;
    color: var(--decorative-text-color);
  }

  .decorated-zone .decorated-zone-rec::before {
    content: "circle";
    color: transparent;
    position: absolute;
    top: 18px;
    right: 19px;
    width: 9px;
    height: 9px;
    background: var(--decorative-text-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--decorative-text-color);
  }

  .header__theme-menu-list {
    min-width: 230px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    padding-block-start: 75px;
    margin-inline-end: 10px;
    align-items: center;
    text-align: end;
    justify-content: end;
  }

  .section__header {
    padding-block-end: 66px;
  }
  
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block: 65px 55px;
    align-items: center;
  }

  .title-text {
    font-size: var(--text-font-size);
    max-width: 100%;
    margin-inline:  10px;
    justify-self: end;
    white-space: pre-line;
  }

  .decorative-element:nth-child(1) {
    top: -170px;
    right: 10px;
    border-left: transparent;
    border-bottom: transparent;
  }

  .decorative-element:nth-child(2) {
    bottom: 10px;
    left: 10px;
    border-right: transparent;
    border-top: transparent;
  }

  /* text sections */

  .section__title-name {
    margin-block-end: 10px;
  }

  .section__text-field {
    inline-size: calc(100% - 20px);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-inline: 10px;
    margin-block-end: 30px;
  }

  .section__text-field .section__title-name-list {
    grid-template-columns: 100% 1fr;
  }

  .section__text-field-block .section__article {
    gap: 0;
  }
 
  .section__list-field-block {
    inline-size: calc(100% - 20px);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-inline: 10px;
    margin-block-end: 30px;
  }

  .section__article {
    display: grid;
    gap: var(--elements-gap);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .section__text-title-list:first-child {
    margin-block-start: 20px;
  }

  /* picture sections */

  .section__gallery {
    inline-size: calc(100% - 20px);
    margin-inline: 10px;
    margin-block-end: 40px;
    gap: var(--elements-gap);
  }

  .section__title-gallery {
    margin-block-end: 20px;
  }

  .section__gallery-pictures {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  /* footer */

  .footer-title {
    margin: 0;
    padding-inline: 13px;
    padding-block: 288px;
  }
}