.page {
  font-family: var(--text-font-familly);
  background: var(--page-bg);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* header */

.header {
  padding: 0;
  margin: 0;
  min-block-size: 100dvh;
}

.decorated-zone {
  position: relative;
  overflow: clip;
}

.header__theme-menu-button {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  background-color: transparent;
  line-height: 18px;
  color: var(--title-name-color);
  text-transform: lowercase;
  border: none;
  align-items: center;
  text-align: center;
  border: solid 1px transparent;
}

.header__theme-menu-button_active {
  outline: var(--button-border);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: var(--button-border-hover);
  cursor: pointer;
}

 .header__theme-menu-button:focus-visible {
  border-color: transparent;
  outline: none;
  border-bottom-color: var(--button-border);
}

.section__header {
  display: grid;
}

.title {
  font-weight: var(--text-font-weight-bold);
  line-height: var(--title-line-height);
  color: var(--Header-color);
  text-shadow: 4px 4px var(--Header-shadow);
}

.title-decor {
  background-color: var(--title-decor-bg-color);
  font-weight: var(--text-font-weight-bold);
  line-height: var(--text-line-height);
  color: var(--text-title-color);
  text-wrap: wrap;
}

.title-decor-weight {
  font-weight: var(--text-font-weight);
}

/* sections */

.section__title-name {
  color: var(--title-name-color);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: var(--text-font-weight-bold);
}

.section__text-list {
  color: var(--text-title-color);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: var(--text-font-weight-bold);
  margin-block-end: 20px;
}

.section__text-title {
  margin-block: 20px 10px;
}

.section__text-title:first-child {
  margin-block: 0 10px;
}

.section__paragraph {
  line-height: var(--text-line-height);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
  margin-block-end: 20px;
}

.section__list-title {
  margin-block-start: 10px;
}

.text-title-link {
  text-decoration: transparent;
  outline: transparent;
  text-shadow: 2px 2px var(--Header-shadow);
}

.text-title-link:hover {
  border-bottom: solid 2px var(--buttons-color)
}

.text-title-link:focus-visible {
  outline: solid 1px var(--text-color);
  text-decoration: none;
}

/* gallery section  */

.section__gallery {
  font-weight: var(--text-font-weight-bold);
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section__title-gallery {
  color: var(--text-title-color);
}

.section__gallery-pictures {
  display: grid;
  grid-template-columns: 1fr;
}

.section__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* footer */

.footer {
  min-block-size: 100dvh;
  display: grid;
  position: relative;
}

.footer-title {
  justify-self: center;
  align-items: center;
  text-align: center;
}