/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

  /* переменные основной темы */
  --Header-color: #DB00FF;
  --Header-schadow: #FF0070;
  
  --button-border: solid 2px #FF0070;
  --button-border-hover: solid 2px rgba(255, 0, 112, 0.4);
  --buttons-color: #FF0070;
  
  --decorative-border: solid 1px #FF0070;
  
  --text-color: #F1B2CE;
  --title-text-color: #000028;
  --title-bg-color: #FF0070;
  --title-name-color: var(--title-bg-color);
  --page-bg: url("../images/cover-image-dark.png"), #000028;


  /* переменные для текста */
  --text-font-weight-bold: bold;
  --text-font-weight: normal;
  --text-line-height: 23.4px;
  --title-line-height: 82.5%;
  --text-font-size: 18px;
  --elements-gap: 20px;
}
