/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

  /* переменные основной темы */

  --Header-color: #DB00FF;
  --Header-shadow: #FF0070;
  
  --button-border: solid 1px #FF0070;
  --button-border-hover: solid 1px rgba(255, 0, 112, 0.4);
  --buttons-color: #FF0070;
  
  --decorative-border: solid 1px #FF0070;
  --decorative-text-color: #FF0070;
  --decorative-bg-color: #FF0070;
  
  --title-decor-bg-color: #FF0070;
  --text-color: #F1B2CE;
  --title-name-color: #FF0070;
  --text-title-color: #000028;
  --page-bg: url("../images/cover-image-dark.png"), #000028;
  --background-color: #000028;

  /* переменные для текста */
  --text-font-familly: 'IBM Plex mono', system-ui, sans-serif;
  --text-font-weight-bold: bold;
  --text-font-weight: normal;
  --text-line-height: 23.4px;
  --title-line-height: 82.5%;
  --text-font-size: 18px;
  --elements-gap: 20px;
}
